.contact-form {
    padding: var(--gap);
    gap: calc(var(--gap) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: var(--white);
}

.contact-form>* {
    min-width: 0;
}

.contact-form-subject {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-form-body {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.contact-form-button {
    grid-column-start: 2;
    grid-row-start: 5;
}

.footer-form {
    width: calc(5 / 12 * 100%);
}

.footer-form>form {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) / 2);
}

.footer-form>form> :nth-child(1) {
    width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
}

.footer-form>form> :nth-child(2) {
    width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
}

.footer-form>form> :nth-child(3) {
    width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
}


@media (max-width: 1200px) {
    .footer-form {
        width: calc(100%);
        order: -1;
    }
}

@media (max-width: 768px) {
    .footer-form {
        width: 100%;
        order: -1;
    }

    .footer-form>form> :nth-child(n) {
        width: 100%;
    }
}