/* Global variables */
:root {
    /* Fonts */
    --font: 'RethinkSans', sans-serif;

    /* Colors */
    --white: #ffffff;
    --black: #1d1d1d;
    --accent-1: #c6dcfd;
    --accent-2: #33445b;
    --accent-3: #001532;
}

body {
    font-family: var(--font);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a,
a:link,
a:visited {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    position: relative;
    transition: color 0.5s;
}


a::before {
    position: absolute;
    left: 0;
    top: 1.5em;
    height: 0;
    width: 2em;
    content: '';
    border-top: 2px solid var(--white);
    transition: border-color 0.5s, width 0.5s;
}

a:hover,
a:focus {
    outline: none;
    color: var(--accent-1);
}

a:hover::before,
a:focus::before {
    width: 100%;
    border-color: var(--accent-1);
}

/* Form */
form {
    display: flex;
    gap: 2em;
}

input, button {
    padding: 1em;
    font-weight: 500;
    color: var(--white);
    transition: color 0.5s, border 0.5s;
}

button {
    background: none;
    border: 2px solid var(--white);
}

input {
    background-color: var(--accent-2);
    border: 2px solid transparent;
}

input::placeholder {
    opacity: 1;
}

input:focus,
button:focus {
    outline: none;
}

input:hover,
input:focus,
button:hover,
button:focus {
    color: var(--accent-1);
    border: 2px solid var(--accent-1);
}

/* Fonts */
@font-face {
    font-family: 'RethinkSans';
    src: url('/fonts/RethinkSans-VariableFont_wght.ttf') format('truetype');
}