.stack {
	display: flex;
	flex-direction: column;
}

.gap-1 {
	gap: calc(1 * var(--gap));
}
.gap-2 {
	gap: calc(2 * var(--gap));
}
.gap-4 {
	gap: calc(4 * var(--gap));
}
.gap-8 {
	gap: calc(8 * var(--gap));
}
.gap-10 {
    gap: calc(10 * var(--gap));
}
.gap-20 {
	gap: calc(20 * var(--gap));
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(2 * var(--gap));

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
    }
}

.grid-staggered-2 {
    @extend .grid-2;

    >:nth-child(4n + 1) {
        margin-bottom: calc(2 * var(--gap));
        margin-right: calc(2 * var(--gap));
    }

    >:nth-child(4n + 2) {
        margin-top: calc(2 * var(--gap));
        margin-right: calc(2 * var(--gap));
    }

    >:nth-child(4n + 3) {
        margin-bottom: calc(2 * var(--gap));
        margin-left: calc(2 * var(--gap));
    }

    >:nth-child(4n + 4) {
        margin-top: calc(2 * var(--gap));
        margin-left: calc(2 * var(--gap));
    }

    @media (max-width: 1200px) {
        >:nth-child(n) {
            margin: 0;
        }
    }
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(2 * var(--gap));

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;

    }
}

.grid-staggered-3 {
    @extend .grid-3;

    >:nth-child(3n + 1),
    >:nth-child(3n + 3) {
        margin-bottom: calc(2 * var(--gap));
    }

    >:nth-child(3n + 2) {
        margin-top: calc(2 * var(--gap));
    }

    @media (max-width: 1200px) {
        >:nth-child(n) {
            margin: 0;
        }
    }
}