:root {
    /* Fonts */
    --font: 'RethinkSans', sans-serif;

    /* Colors */
    --white: #ffffff;
    --gray: #f1f1f1;
    --black: #1d1d1d;

    --accent-1: #c6dcfd;
    --accent-2: #33445b;
    --accent-3: #001532;

    /* Gaps */
    --gap: 3em;
}
