---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/contact/*.{jpg,png}",
);
---

<Layout title="Contact">
    <div class="contact-main">
        <div class="contact-main-left">
            <a href="/">Welkom</a> &gt; <a href="/contact">Contact</a>
            <h1>Vragen over kunst of samenwerkingen?</h1>
            <p>
                info@art-line.be<br />
                Ludo Leuwers: 0477/30.72.56 (SMS of WhatsApp)<br />
                Paul Boulez: 0473/91.79.11 (SMS of Whatsapp)
            </p>
            <div class="contact-address">
                <div class="contact-address-1">
                    <h3>Tentoonstellingen</h3>
                    <p>Baron R. de Vironlaan 117,<br />1700 Dilbeek</p>
                </div>
                <div class="contact-address-2">
                    <h3>Vaste collectie & inlijstingen</h3>
                    <p>Kasteelstraat 45,<br />1700 Dilbeek</p>
                </div>
            </div>
            <p>
                <Icon icon="facebook-logo" size="1.25em" />
                <Icon icon="instagram-logo" size="1.25em" />
            </p>
        </div>
        <div class="contact-main-right">
            <form class="contact-form form-dark">
                <input
                    class="contact-form-name"
                    type="text"
                    placeholder="Naam*"
                />
                <input
                    class="contact-form-mail"
                    type="text"
                    placeholder="E-mailadres*"
                />
                <input
                    class="contact-form-subject"
                    type="text"
                    placeholder="Onderwerp*"
                />
                <textarea class="contact-form-body" placeholder="Bericht*"
                ></textarea>
                <button class="contact-form-button" type="submit"
                    >Stuur bericht</button
                >
            </form>
        </div>
    </div>
    <div class="grid-3">
        <Image src={images["/src/assets/contact/1-3x2.jpg"]()} alt="" />
        <Image src={images["/src/assets/contact/2-3x2.jpg"]()} alt="" />
        <Image src={images["/src/assets/contact/3-3x2.jpg"]()} alt="" />
    </div>
</Layout>

<style>
    .contact-main {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }

    .contact-main-left {
        width: calc(5 / 12 * 100% - var(--gap) / 2);
    }

    .contact-main-right {
        width: calc(7 / 12 * 100% - var(--gap) / 2);
    }

    .contact-address {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-address-1 {
        width: 50%;
    }

    .contact-address-2 {
        width: 50%;
    }

    .contact-form {
        padding: var(--gap);
        gap: calc(var(--gap) / 2);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .contact-form > * {
        min-width: 0;
    }

    .contact-form-subject {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contact-form-body {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .contact-form-button {
        grid-column-start: 2;
        grid-row-start: 5;
    }

    @media (max-width: 1200px) {
        .contact-main-left,
        .contact-main-right {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .contact-address-1,
        .contact-address-2 {
            width: 100%;
        }
    }
</style>
