---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Diensten">
    <div class="item-half-center">
        <h1>Onder constructie! Kijk binnenkort nog eens terug.</h1>
        <a class="anchor-dark" href="/">Terug naar home</a>
    </div>
</Layout>