---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Artist from "../components/Artist.astro";
import CTA from "../components/CTA.astro";

const artists = await getCollection("artist");

artists.sort((a, b) => {
    return a.data.order > b.data.order ? 1 : -1;
});
---

<Layout title="Kunstenaars">
    <div class="grid-2">
        <div>
            <p>Kunstenaars</p>
            <h1>
                Ontmoet de talentvolle kunstenaars die onze galerie tot leven
                brengen.
            </h1>
        </div>
    </div>
    <div class="grid-staggered-3">
        {artists.map((artist) => <Artist artist={artist} />)}
    </div>
    <CTA title="Interesse in een samenwerking? Vragen over onze diensten?" />
</Layout>
