---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Artwork from "../components/Artwork.astro";

const artwork = await getCollection("artwork");

artwork.sort((a, b) => {
    return a.data.order > b.data.order ? 1 : -1;
});
---

<Layout title="Kunstwerken">
    <div class="artwork-header">
        <div class="artwork-header-left">
            <a href="/">Welkom</a> &gt; <a href="/kunstwerken/">Kunstwerken</a>
            <h1>
                Van schilderijen tot sculpturen: ontdek onze diverse
                kunstcollectie.
            </h1>
        </div>
    </div>
    <div class="artwork-main">
        {
            artwork.map((artwork) => (
                <div>
                    <Artwork artwork={artwork} />
                </div>
            ))
        }
    </div>
</Layout>

<style>
    .artwork-header {
        display: flex;
    }

    .artwork-header-left {
        width: 50%;
    }

    .artwork-main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: calc(2 * var(--gap));
    }

    .artwork-main > div:nth-child(4n + 1) {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .artwork-main > div:nth-child(4n + 2) {
        grid-column-start: 7;
        grid-column-end: 12;
        margin-top: calc(2 * var(--gap));
    }

    .artwork-main > div:nth-child(4n + 3) {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    .artwork-main > div:nth-child(4n + 4) {
        grid-column-start: 8;
        grid-column-end: 13;
        margin-top: calc(2 * var(--gap));
    }

    @media (max-width: 1200px) {
        .artwork-header-left,
        .artwork-header-right {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .artwork-main {
            grid-template-columns: 1fr;
            row-gap: var(--gap);
        }

        .artwork-main > div:nth-child(n) {
            margin-top: 0px;
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
</style>
