---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kunstenaars">
    <div style="display: flex; padding: 2.5em 5em;">
        <div style="width: 50%;">
            <a href="/">Welkom</a> &gt; <a href="/kunstenaars">Kunstenaars</a>
            <h1>
                Ontmoet de talentvolle kunstenaars die onze gallerie tot leven
                brengen.
            </h1>
        </div>
    </div>
    <div class="gallery">
        <div>
            <img src="/assets/kunstenaars/peter-jacquemyn/profiel.png" />
            <h2>Peter Jacquemyn</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/pal-horvath/profiel.png" />
            <h2>Pal Horvath</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/valerie-de-smedt/profiel.png" />
            <h2>Valerie De Smedt</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/eric-leon/profiel.png" />
            <h2>Eric Leon</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/jan-mj-van-saene/profiel.png" />
            <h2>Jan MJ Van Saene</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/ludo-leuwers/profiel.png" />
            <h2>Ludo Leuwers</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/matthias-vandenweghe/profiel.png" />
            <h2>Matthias Vandenweghe</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
        <div>
            <img src="/assets/kunstenaars/frans-de-neyer/profiel.png" />
            <h2>Frans De Neyer</h2>
            <a class="anchor-dark">Meer informatie</a>
        </div>
    </div>
</Layout>

<style>
    .gallery {
        padding: 2.5em 5em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        gap: 2.5em;
    }
</style>
