---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Artwork from "../components/Artwork.astro";
import CTA from "../components/CTA.astro";

const artwork = await getCollection("artwork");

artwork.sort((a, b) => {
    return a.data.order > b.data.order ? 1 : -1;
});
---

<Layout title="Kunstwerken">
    <div class="item-half-center">
        <p>Kunstwerken</p>
        <h1>
            Van schilderijen tot sculpturen: ontdek onze diverse kunstcollectie.
        </h1>
    </div>
    <div class="grid-staggered-2">
        {artwork.map((artwork) => <Artwork artwork={artwork} />)}
    </div>
    <CTA title="Interesse in een kunstwerk?">
        Krijgen ze een nieuwe betekenis bij een nieuwe bestemming? Vraag naar de
        mogelijkheden! Kopen, huren, ruilen, ...
    </CTA>
</Layout>
