---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Artwork from "../components/Artwork.astro";

const artwork = await getCollection("artwork");

artwork.sort((a, b) => {
    return a.data.order > b.data.order ? 1 : -1;
});
---

<Layout title="Kunstwerken">
    <div class="artwork-header">
        <div class="artwork-header-left">
            <a href="/">Welkom</a> &gt; <a href="/kunstwerken/">Kunstwerken</a>
            <h1>
                Van schilderijen tot sculpturen: ontdek onze diverse
                kunstcollectie.
            </h1>
        </div>
    </div>
    <div class="grid-staggered-2">
        {
            artwork.map((artwork) => (
                <div>
                    <Artwork artwork={artwork} />
                </div>
            ))
        }
    </div>
</Layout>

<style>
    .artwork-header {
        display: flex;
    }

    .artwork-header-left {
        width: 50%;
    }

    @media (max-width: 1200px) {
        .artwork-header-left,
        .artwork-header-right {
            width: 100%;
        }
    }
</style>
