---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    artist: CollectionEntry<"artist">;
}

const { artist } = Astro.props;
---

<div>
    <Image src={artist.data.cover} alt="" />
    <h2>{artist.data.name}</h2>
    <a class="anchor-dark" href={`/kunstenaars/${artist.slug}/`}>
        Meer informatie
    </a>
</div>
