---
import { getEntry, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    artwork: CollectionEntry<"artwork">;
}

const { artwork } = Astro.props;

const artist = await getEntry(artwork.data.artist);
---

<div>
    <Image src={artwork.data.cover} alt="" />
    <h3>{artist.data.name}</h3>
    <p>{artwork.data.technique}</p>
    <a class="anchor-dark" href={`/kunstwerken/${artwork.slug}/`}>
        Meer informatie
    </a>
</div>

<style>
    p {
        font-style: italic;
        color: var(--accent-2);
    }
</style>
