---
import Icon from '../components/Icon.astro';
import SubscribeForm from "../components/SubscribeForm.tsx";

const currentYear = new Date().getFullYear();
---

<footer>
    <div class='footer-main'>
        <div class='footer-contact'>
            <h3>Contact</h3>
            <p>Baron de Vironlaan 117,<br />1700 Dilbeek</p>
            <a class='anchor-light' href='/contact/'>Vragen? Contacteer ons</a>
        </div>
        <div class='footer-sitemap'>
            <h3>Sitemap</h3>
            <div class='footer-sitemap-anchors'>
                <div>
                    <a class='anchor-light' href='/kunstenaars/'>Kunstenaars</a>
                </div>
                <div>
                    <a class='anchor-light' href='/kunstwerken/'>Kunstwerken</a>
                </div>
                <div>
                    <a class='anchor-light' href='/exposities/'>Exposities</a>
                </div>
                <div>
                    <a class='anchor-light' href='/diensten/'>Diensten</a>
                </div>
                <div>
                    <a class='anchor-light' href='/over-ons/'>Over ons</a>
                </div>
                <div>
                    <a class='anchor-light' href='/contact/'>Contact</a>
                </div>
            </div>
        </div>
        <SubscribeForm client:load />
    </div>
    <div class='footer-footer'>
        <p class='footer-copyright'>
            Copyright {currentYear} &copy; Art-line | Gemaakt door <a class="anchor-light" href="mailto:hello@helenadesmedt.be">Helena De Smedt</a>
        </p>
        <p class='footer-social'>
            <a href="https://www.facebook.com/profile.php?id=61555195834992"><Icon icon='facebook-logo' size='1.25em' /></a>
            <a href="https://www.instagram.com/artline_dilbeek/"><Icon icon='instagram-logo' size='1.25em' /></a>        
        </p>
    </div>
</footer>

<style>
    footer {
        padding: var(--gap) calc(2 * var(--gap));
        background-color: var(--accent-3);
        color: var(--white);
    }

    .footer-main {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--gap);
    }

    .footer-contact {
        width: calc(3 / 12 * 100%);
    }

    .footer-sitemap {
        width: calc(4 / 12 * 100%);
    }

    .footer-sitemap-anchors {
        display: flex;
        flex-wrap: wrap;
        row-gap: calc(var(--gap) / 4);
    }

    .footer-sitemap-anchors > * {
        width: 50%;
    }

    .footer-footer {
        display: flex;
        align-items: center;
        border-top: 2px solid var(--white);
        margin-top: calc(2 * var(--gap));
    }

    .footer-social {
        margin-left: auto;
    }

    @media (max-width: 1200px) {
        .footer-contact {
            width: calc(1 / 2 * 100%);
        }

        .footer-sitemap {
            width: calc(1 / 2 * 100%);
        }
    }

    @media (max-width: 768px) {
        .footer-contact {
            width: 100%;
        }

        .footer-sitemap {
            width: 100%;
        }
    }
</style>
