---
import Icon from '../components/Icon.astro';

const currentYear = new Date().getFullYear();
---

<footer>
    <div class='footer-main'>
        <div class='footer-contact'>
            <h3>Contact</h3>
            <p>Baron de Vironlaan 117,<br />1700 Dilbeek</p>
            <a class='anchor-light' href='/contact/'>Vragen? Contacteer ons</a>
        </div>
        <div class='footer-sitemap'>
            <h3>Sitemap</h3>
            <div class='footer-sitemap-anchors'>
                <div>
                    <a class='anchor-light' href='/kunstenaars/'>Kunstenaars</a>
                </div>
                <div>
                    <a class='anchor-light' href='/kunstwerken/'>Kunstwerken</a>
                </div>
                <div>
                    <a class='anchor-light' href='/exposities/'>Exposities</a>
                </div>
                <div>
                    <a class='anchor-light' href='/diensten/'>Diensten</a>
                </div>
                <div>
                    <a class='anchor-light' href='/over-ons/'>Over ons</a>
                </div>
                <div>
                    <a class='anchor-light' href='/contact/'>Contact</a>
                </div>
            </div>
        </div>
        <div class='footer-form'>
            <h3>Blijf op de hoogte</h3>
            <p>
                Geef hieronder uw e-mailadres op om u in te schrijven op onze
                nieuwsbrief, en blijf op de hoogte van onze activiteiten.
            </p>
            <form class='form-dark'>
                <input type='text' placeholder='Naam*' />
                <input type='text' placeholder='E-mailadres*' />
                <button type='submit'>Registreer</button>
            </form>
        </div>
    </div>
    <div class='footer-footer'>
        <p class='footer-copyright'>
            Copyright {currentYear} &copy; Art-line
        </p>
        <p class='footer-social'>
            <Icon icon='facebook-logo' size='1.25em' />
            <Icon icon='instagram-logo' size='1.25em' />
        </p>
    </div>
</footer>

<style>
    footer {
        padding: var(--gap) calc(2 * var(--gap));
        background-color: var(--accent-3);
        color: var(--white);
    }

    .footer-main {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--gap);
    }

    .footer-contact {
        width: calc(3 / 12 * 100%);
    }

    .footer-sitemap {
        width: calc(4 / 12 * 100%);
    }

    .footer-sitemap-anchors {
        display: flex;
        flex-wrap: wrap;
        row-gap: calc(var(--gap) / 4);
    }

    .footer-sitemap-anchors > * {
        width: 50%;
    }

    .footer-form {
        width: calc(5 / 12 * 100%);
    }

    .footer-form > form {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--gap) / 2);
    }

    .footer-form > form > :nth-child(1) {
        width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
    }

    .footer-form > form > :nth-child(2) {
        width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
    }

    .footer-form > form > :nth-child(3) {
        width: calc(1 / 3 * 100% - var(--gap) / 2 * 2 / 3);
    }

    .footer-footer {
        display: flex;
        align-items: center;
        border-top: 2px solid var(--white);
        margin-top: calc(2 * var(--gap));
    }

    .footer-social {
        margin-left: auto;
    }

    @media (max-width: 1200px) {
        .footer-contact {
            width: calc(1 / 2 * 100%);
        }

        .footer-sitemap {
            width: calc(1 / 2 * 100%);
        }

        .footer-form {
            width: calc(100%);
            order: -1;
        }
    }

    @media (max-width: 768px) {
        .footer-contact {
            width: 100%;
        }

        .footer-sitemap {
            width: 100%;
        }

        .footer-form {
            width: 100%;
            order: -1;
        }

        .footer-form > form > :nth-child(n) {
            width: 100%;
        }
    }
</style>
