---
import { Image } from 'astro:assets';

import Icon from '../components/Icon.astro';

import logo from '../assets/logo.png';
---

<header>
    <a href="/">
        <Image src={logo} alt="" />
    </a>
    <div style="display: flex; align-items: center;">
        <a>MENU</a>&nbsp;<Icon icon="list" />
    </div>
</header>

<style lang="scss">
    header {
        display: flex;
        align-items: center;
        padding: 2.5em 5em;

        a {
            align-self: flex-end;
        }
        
        img {
            height: auto;
            width: 10em;
        }

        div {
            margin-left: auto;
        }
    }
</style>